*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    padding: 20px;
    margin: 20px ;
    max-width: 700px;
    height: min-content;
    background-color: aquamarine;
    border-radius: 20px;

    
}

form{
    width: 100%;
    padding: 20px 0;
    margin: 0;
    position: relative;
    justify-content: center;

}


input{
    display: block;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
 } 
 button{
    margin-top: 20px;
    margin-left: 40%;
    padding:  5px 10px;
 }
 .erro{
    border: 5px #f00;
 }
.formP .btn-div,
.formS .btn-div{
    display: block;
}
.formP .btn-div #resultado{
    margin: 20px;
}